.button1 {
    background-color: #0489B1;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2 {
    background-color: #0489B1;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.button3 {
    background-color: #0489B1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.button4 {
    background-color: #04b121;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.texto {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
}

.titulo1 {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 50px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.titulo {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 35px;
}

.subtitulo {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 20px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.formulario{
    /*width: 40px;*/
    padding: 10px;
    border:1px solid #E6E6E6;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="titulo1"] {
      width: 100%;
    }
  }
