.button1 {
    background-color: #0489B1;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.button2 {
    background-color: #0489B1;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}
.button3 {
    background-color: #0489B1;
    color: white;
    padding: 15px 32px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}
.texto {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.titulo1 {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 50px;
}
.titulo {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 35px;
}

.subtitulo {
    font-family: "Times New Roman", Times, serif;
    color: #0489B1;
    font-size: 20px;
}

